<div class="row">
    <div class="small-12 columns">
      <p class="links">
        <%= link_to "Home", root_path %>
        <%= link_to "About", '#' %>
        <%= link_to "FAQ", '#' %>
        <%= link_to "GitHub", 'http://www.github.com/phobos101' %>
      </p>
      <p class="copywrite">Copywrite Carboot © 2015</p>
    </div>
  </div>
